---
http_interactions:
- request:
    method: get
    uri: https://api.propublica.org/congress/v1/115/senate/members.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - 45Jqi2YUkG5u36euvspZI9yLR0dAOrz545XRSwW1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 3e3822bb-1335-11e7-af33-a3feecf6d6d0
    body:
      encoding: UTF-8
      string: "{\n   \"status\":\"OK\",\n   \"copyright\":\" Copyright (c) 2017 Pro
        Publica Inc. All Rights Reserved.\",\n   \"results\":[\n      {\n         \"congress\":
        \"115\",\n         \"chamber\": \"Senate\",\n         \n         \n         \"num_results\":
        \"101\",\n         \"offset\": \"0\",\n         \"members\": [\n              {\n
        \                \"id\": \"A000360\",\n                 \"api_uri\":\"https://api.propublica.org/congress/v1/members/A000360.json\",\n
        \                \"first_name\": \"Lamar\",\n                 \"middle_name\":
        \"\",\n                 \"last_name\": \"Alexander\",\n                 \"party\":
        \"R\",\n                 \"leadership_role\": \"\",\n                 \"twitter_account\":
        \"SenAlexander\",\n                 \"facebook_account\": \"senatorlamaralexander\",\n
        \                \"youtube_account\": \"lamaralexander\",\n                 \"govtrack_id\":
        \"300002\",\n                 \"cspan_id\": \"5\",\n                 \"votesmart_id\":
        \"15691\",\n                 \"icpsr_id\": \"40304\",\n                 \"crp_id\":
        \"N00009888\",\n                 \"google_entity_id\": \"/m/01rbs3\",\n                 \"url\":
        \"https://www.alexander.senate.gov/public/index.cfm/home\",\n                 \"rss_url\":
        \"http://www.alexander.senate.gov/public/?a=RSS.Feed\",\n                 \"contact_form\":
        \"http://www.alexander.senate.gov/public/index.cfm?p=Email\",\n                 \"domain\":
        \"\",\n                 \"in_office\": \"true\",\n                 \"dw_nominate\":
        \"\",\n                 \"ideal_point\": \"\",\n                 \"seniority\":
        \"15\",\n                 \"next_election\": \"2020\",\n                 \"total_votes\":
        \"96\",\n                 \"missed_votes\": \"3\",\n                 \"total_present\":
        \"0\",\n                 \"ocd_id\": \"ocd-division/country:us/state:tn\",\n
        \                \"office\": \"455 Dirksen Senate Office Building\",\n                 \"phone\":
        \"202-224-4944\",\n                 \"fax\": \"202-228-3398\",\n                 \"state\":
        \"TN\",\n                 \"senate_class\": \"2\",\n                 \"state_rank\":
        \"senior\",\n                 \"lis_id\": \"S289\"\n                 ,\"missed_votes_pct\":
        \"3.13\",\n                 \"votes_with_party_pct\": \"98.92\"\n               },\n
        \                          {\n                 \"id\": \"B000575\",\n                 \"api_uri\":\"https://api.propublica.org/congress/v1/members/B000575.json\",\n
        \                \"first_name\": \"Roy\",\n                 \"middle_name\":
        \"\",\n                 \"last_name\": \"Blunt\",\n                 \"party\":
        \"R\",\n                 \"leadership_role\": \"\",\n                 \"twitter_account\":
        \"RoyBlunt\",\n [...]
