---
http_interactions:
- request:
    method: get
    uri: https://api.propublica.org/congress/v1/113/senate/members.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - 45Jqi2YUkG5u36euvspZI9yLR0dAOrz545XRSwW1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 3ea19267-1335-11e7-bd67-e3efe469b3af
    body:
      encoding: UTF-8
      string: "{\n   \"status\":\"OK\",\n   \"copyright\":\" Copyright (c) 2017 Pro
        Publica Inc. All Rights Reserved.\",\n   \"results\":[\n      {\n         \"congress\":
        \"113\",\n         \"chamber\": \"Senate\",\n         \n         \n         \"num_results\":
        \"105\",\n         \"offset\": \"0\",\n         \"members\": [\n              {\n
        \                \"id\": \"A000360\",\n                 \"api_uri\":\"https://api.propublica.org/congress/v1/members/A000360.json\",\n
        \                \"first_name\": \"Lamar\",\n                 \"middle_name\":
        \"\",\n                 \"last_name\": \"Alexander\",\n                 \"party\":
        \"R\",\n                 \"leadership_role\": \"\",\n                 \"twitter_account\":
        \"SenAlexander\",\n                 \"facebook_account\": \"senatorlamaralexander\",\n
        \                \"youtube_account\": \"lamaralexander\",\n                 \"govtrack_id\":
        \"300002\",\n                 \"cspan_id\": \"5\",\n                 \"votesmart_id\":
        \"15691\",\n                 \"icpsr_id\": \"40304\",\n                 \"crp_id\":
        \"N00009888\",\n                 \"google_entity_id\": \"/m/01rbs3\",\n                 \"url\":
        \"https://www.alexander.senate.gov/public/index.cfm/home\",\n                 \"rss_url\":
        \"http://www.alexander.senate.gov/public/?a=RSS.Feed\",\n                 \"contact_form\":
        \"\",\n                 \"domain\": \"\",\n                 \"in_office\":
        \"false\",\n                 \"dw_nominate\": \"0.348\",\n                 \"ideal_point\":
        \"0.83068369\",\n                 \"seniority\": \"11\",\n                 \"next_election\":
        \"2014\",\n                 \"total_votes\": \"657\",\n                 \"missed_votes\":
        \"44\",\n                 \"total_present\": \"0\",\n                 \"ocd_id\":
        \"ocd-division/country:us/state:tn\",\n                 \"office\": \"\",\n
        \                \"phone\": \"\",\n                 \"fax\": \"\",\n                 \"state\":
        \"TN\",\n                 \"senate_class\": \"2\",\n                 \"state_rank\":
        \"\",\n                 \"lis_id\": \"S289\"\n                 ,\"missed_votes_pct\":
        \"6.70\",\n                 \"votes_with_party_pct\": \"85.97\"\n               },\n
        \                          {\n                 \"id\": \"A000368\",\n                 \"api_uri\":\"https://api.propublica.org/congress/v1/members/A000368.json\",\n
        \                \"first_name\": \"Kelly\",\n                 \"middle_name\":
        null,\n                 \"last_name\": \"Ayotte\",\n                 \"party\":
        \"R\",\n                 \"leadership_role\": \"\",\n                 \"twitter_account\":
        \"KellyAyotte[...]
