---
http_interactions:
- request:
    method: get
    uri: https://api.propublica.org/congress/v1/members/W000817.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - 45Jqi2YUkG5u36euvspZI9yLR0dAOrz545XRSwW1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 3ef0eb15-1335-11e7-b846-0114ff96af02
    body:
      encoding: UTF-8
      string: "{\n   \"status\":\"OK\",\n   \"copyright\":\"Copyright (c) 2017 Pro
        Publica Inc. All Rights Reserved.\",\n   \"results\":[\n      {\n         \"member_id\":
        \"W000817\",\n         \n         \"first_name\": \"Elizabeth\",\n         \"middle_name\":
        \"\",\n         \"last_name\": \"Warren\",\n         \"date_of_birth\": \"1949-06-22\",\n
        \        \"gender\": \"F\",\n         \"url\": \"https://www.warren.senate.gov\",\n
        \        \"times_topics_url\": \"\",\n         \"times_tag\": \"\",\n         \"govtrack_id\":
        \"412542\",\n         \"cspan_id\": \"1023023\",\n         \"votesmart_id\":
        \"141272\",\n         \"icpsr_id\": \"41301\",\n         \"twitter_account\":
        \"SenWarren\",\n         \"facebook_account\": \"senatorelizabethwarren\",\n
        \        \"youtube_account\": \"senelizabethwarren\",\n         \"crp_id\":
        \"N00033492\",\n         \"google_entity_id\": \"/m/01qh39\",\n         \"rss_url\":
        \"https://www.warren.senate.gov/rss/\",\n         \"domain\": \"www.warren.senate.gov\",\n
        \        \"in_office\": \"true\",\n         \"current_party\": \"D\",\n         \"most_recent_vote\":
        \"2017-03-23\",\n         \"roles\": [\n {\n           \"congress\": \"115\",\n
        \          \"chamber\": \"Senate\",\n           \"title\": \"Senator, 1st
        Class\",\n           \"state\": \"MA\",\n           \"party\": \"D\",\n           \"leadership_role\":
        \"\",\n           \"fec_candidate_id\": \"S2MA00170\",\n           \"seniority\":
        \"5\",\n           \"senate_class\": \"1\",\"state_rank\": \"senior\",\"lis_id\":
        \"S366\",\n           \"ocd_id\": \"ocd-division/country:us/state:ma\",\n
        \          \"start_date\": \"2017-01-03\",\n           \"end_date\": \"2019-01-03\",\n
        \          \"office\": \"317 Hart Senate Office Building\",\n           \"phone\":
        \"202-224-4543\",\n           \"fax\": \"202-228-2072\",\n           \"contact_form\":
        \"https://www.warren.senate.gov/?p=email_senator\",\n           \"bills_sponsored\":
        \"3\",\n           \"bills_cosponsored\": \"0\",\n           \"missed_votes_pct\":
        \"0.00\",\n           \"votes_with_party_pct\": \"91.67\",\n           \"committees\":
        [\n           {\n             \"name\": \"Special Committee on Aging\",\n
        \            \"code\": \"SPAG\",\n             \"api_uri\": \"https://api.propublica.org/congress/v1/115/senate/committees/SPAG.json\",\n
        \            \"rank_in_party\": \"\",\n             \"begin_date\": \"\",\n
        \            \"end_date\": \"2017-01-03\"\n           },\n           {\n             \"name\":
        \"Committee on Armed Services\",\n             \"code\": \"SSAS\",\n             \"api_uri\":
        \"https://api.propublica.org/congress/v1/115/senate/committees/SSAS.json\",\n
        \            \"rank_in_party\": \"\",\n             \"begin_date\": \"\",\n
        \            \"end_date\": \"2017-01-03\"\n           },\n           {\n             \"name\":
        \"Com[...]
